name: C++ CI Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Clean build directory (Linux)
      if: runner.os != 'Windows'
      run: rm -rf build

    - name: Clean build directory (Windows)
      if: runner.os == 'Windows'
      run: Remove-Item -Recurse -Force build
      shell: pwsh

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build --config Release